body {
  font-family: 'Montserrat', sans-serif;
  background: #2d3047;
  color: #8895b3;
}

textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  background-color: #e0a458;
  outline: none;
}

button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background: #e71deb;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: white;
  font-style: italic;
}

.center {
  text-align: center;
}

.soft {
  background: #8895b3;
  color: #2d3047;
}

.searching {
  font-size: 44px;
  font-weight: bold;
}

winner {
  display: block;
  text-align: center;
  font-size: 80px;
  color: #e71deb;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

#raffle-title {
  font-size: 48px;
  text-align: center;
}
